$xxxs: 4px;
$xxs: 8px;
$xs: 12px;
$s: 16px;
$m: 20px;
$l: 24px;
$xl: 32px;
$xxl: 40px;
$xxxl: 48px;

// $spacing-0-xs: 4px;
// $spacing-0-sm: 6px;
// $spacing-0-md: 8px;
// $spacing-1-xs: 10px;

// .body {
//     padding: $spacing-0-xs $spacing-0-sm;
// }
